.bog{
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box1 {
  width: 100%;
}
.box1 h1{
font-weight: bold;
}
.box1 span{
 color: gold;
}
.boxbog{
  display: flex;
  width: 100%;
  height: auto;

  
  padding: 10px;
  flex-wrap: wrap;
  border-radius: 5px;
  }
  
  .boxbog span{
    font-weight: bold;
  }
  
@media (max-width:767px) {
  section{
    flex-direction: column;
    display: flex;
  }
}