

.digital{
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box1 {
  width: 100%;
  
}
.box1 h2{
font-weight: bold;
}
.box1 span{
 color: gold;
}
.box2{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  }
  
@media (max-width:767px) {
  section{
    flex-direction: column;
    display: flex;
  }
}