.two-coloms{
  width: 100%;
  display: flex;
  }

.two-coloms h1 {
font-weight: bold;
}
.two-coloms h1 span{
color: gold;
}
.two-coloms span{
  font-weight: bold;
}
.two-coloms > div {width: 100%;padding: 10px; }

  
@media (max-width:767px) {
  .two-coloms{
    flex-direction: column;
  
  }
}
