



.two-coloms h2 {
font-weight: bold;
}
.two-coloms h2 span{
color: gold;
}
.two-coloms span{
  font-weight: bold;
}

 .two-coloms img{
 width: 100%;
 background-size: cover;
 border-radius: 30px;
} 
  
@media (max-width:767px) {
  section{
    flex-direction: column;
    display: flex;
  }
}