
.pres{
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.tod  {
  width: 100%;
}
.tod img{
 width: 100%;
 background-size: cover;
}
.tod h1{
font-weight: bold;
}
.tod span{
 color: gold;
}
.tad{
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  }
  
  
@media (max-width:767px) {
  section{
    flex-direction: column;
    display: flex;
  }
}